#Confirmacion{
  padding-top: 70px;
  min-height: 80vh;
}
.table-detalle
{
    width: 100%;        
    margin-top:46px;
    max-height: 60vh;  
    overflow: scroll;
    
}
.table-detalle table{
  border-collapse: collapse;
  width: 100%;
  background-color: #3ea396;
  
  
}
.table-detalle table thead th{  
  position: sticky;
  top: -2px;
}
.table-detalle td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #3ea396;
  }

  .confirmar-title{
    text-align: center;
    margin-bottom: 20px;
  }
  .important-banner{    
    width: 100%;
    padding: 5px;
    
  }
  .subtitle-left{
    width: fit-content;
    float: left;
    font-size: 20px;
  }
  .subtitle-right{
    width: fit-content;
    float: right;
    padding-right: 15px;
  }

  .subtitle-right span{
    font-family: arial;
    font-weight: 100;
  }
  .icon-delete{
    width: auto;
    height: 30px;
    cursor: pointer;
  }
  .input-name{
    width: auto;
    padding: 5px;
    margin-top: 35px;
  }
  .input-name h2{
    float: left;
  }

  .input-name input{    
      padding: 5px;
  }

  .btn-enviar-pedido{
    background-color: #e29d08f3;
    padding: 10px;
    color: #000;    
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Amatic SC', cursive;
    display: block;
    font-size: 25px;
    margin: 30px auto 0 auto;
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
  }
  .cantidad-crepa{
    text-align: center !important;

  }
  .cantidad-crepa .math-icon{
    margin:0 !important;    
  }
  .cant-number{
    display: block;
    margin: 10px 1px;
  }
  @media screen and (min-width: 800px)
  {
    .btn-enviar-pedido{
      width: 25%;
    }
   
  }
  