 .titulo{
    margin: auto;
    margin-block-end: 8%;
    margin-left: 5%;
    font-size: 40px;
    display: block;
    
}
.box-general{
    text-align: center;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}

#container1{
    background-color:#F9B4E1;
}
#container2{
    background-color: #DEA365;
}
#container3{
    background-color: #f6f983;
}
.container-cajitas{
    width:25%;
    height: 200px;
    display:inline-block;
    margin: 15px;
    padding: 1%;
}


@media only screen and (max-width: 680px) {
    .container-cajitas{
        width:85%;
        display: block;
        margin: 10px auto;
    }
    
  }