 /* .titulo{
    margin: auto;
    margin-block-end: 8%;
    margin-left: 5%;
    font-size: 40px;
    display: block;
    font-family: 'Pacifico', cursive;
    
}
.box-general{
    text-align: center;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
    height: 400px;
}

.containerExpress{
    width: 30%;
    height: 400px;
    background-color: brown;
    display: inline-block;
}
.containerVerCreapas{
    width: 30%;
    height: 400px;
    background-color: green;
    display: inline-block;
}

#container1{
    background-image: url("/imgs/cuadro1.png");
}
#container2{
    background-image: url("/imgs/cuadro2.png");
}
#container3{
    background-image: url("/imgs/cuadro3.png");
}
.container-cajitas{
    width:25%;
    height: 200px;
    display:inline-block;
    margin: 15px;
    padding: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 3px 3px;

}



@media only screen and (max-width: 780px) {
    .container-cajitas {
        width:93%;
        display: block;
        margin: 10px auto;
        background-repeat: no-repeat;
    }
  
    
  }

   */

   .box-general{      
       width: 95%;
       display: block;
       margin: 30px auto 30px auto;
   }

   .box{
       display: inline-block;
       width: 49%;
       height: 300px;
       vertical-align: top;
       padding: 30px;
       box-sizing: border-box;
      font-size: 20px;
       position: relative;
       transition: all 0.5s;
   }

   .box:hover{
    font-size: 22px;    
   }

   .box span{
       color:#4EC2B3;
   }

   .box:nth-child(1){
       margin-right: 2%;
   }

   .btn-ver-crepas{
       background-color: #4EC2B3;
   }

   .btn-content{
       width: 60%;
       display: block;
       margin: auto;
       text-align: center;
       position: absolute;
       left: 50%;
       transform: translate(-50%, -50%);
       top: 50%;
       cursor: pointer;
      
   }

   .btn-content h2{
       margin: 50px 0px;
   }

   .btn-content span{
       color: white;
   }

   .horario-box{
       display: block;
       margin-top: 20px;
   }

   .horario-box div{
       display: inline-block;
       width: 33%;
   }

   .horario-box .crepas{
       height: 400px;
       background-size: cover;
       background-image: url('/imgs/Monday.jpg');
   }

   .horario-box .info{
       height: 400px;
       background-color: #e29d08f3;
       vertical-align: top;
       color: #fff;
       font-size: 20px;
       text-align: center;
       padding: 30px;
       box-sizing: border-box;
   }