.main-footer {
    color: black;    
    background-color: #58c5f5;
    padding-top: 1em;
    position: relative;
    width: 100%;
} 

.row{
    display: flex;
}

.row1{
    
    margin: 35%;
    margin-top: 0%;
    margin-block-end: 0%;
}

.col{
    margin: 7%;
    margin-top: 0%;
    margin-block-end: 0%;
}
.col1{
list-style: none;
margin-left: 50px;
}
.col2{
margin-left: 400px;
margin-top: -90px;
}

.title{
 text-align: center;
}


.list-unstyled{
    list-style: none;
}