.main-footer {  
    background-color: #4EC2B3;
    position: relative;
    padding: 13px 0 4px;
    width: 100%;
    z-index: 5000;
    bottom: 0;
    
} 

.row1{  
  text-align: center;
  color: white;
  
}

.col{
    width: 30%;
    height: 50px;
    margin: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 100%;
    display: inline-block; 
    color: white;  
}
#img1{
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
#img2{
    margin-top: 10px;
    width: 22px;
    height: 22px;
    margin-left: -5px;
}
#img3{
    margin-top: 10px;
    margin-left: -80px;
    width: 20px;
    height: 20px;
}
#img4{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    margin-left: 25px;
}
#img5{ 
    margin-top: 10px;
    margin-left: 50px;
    width: 20px;
    height: 20px;
}
.title{ 

 font-size: 25px;
 margin-top: -20px;
 line-height: 40px;
 text-align: center;
 font-family: 'Amatic SC';
}
a{ 
    text-decoration: none;
    color: inherit;
}
.list-unstyled{
    list-style: none;
    margin-top: 0px;    
}

@media only screen and (max-width: 680px){
    .col{
        width: 100%;
        height: 55px;
        margin: 10px;
        text-align: center;
        display:inline-block;
    }
    .row1{  
        font-size: smaller;
        text-align: center;
      }
}