.container{
    width:auto;
    height:70px;
    background: #58c5f5;
    position: relative;
    
}
.imagen{
    width: 17%;
    height: 60px;
    margin-top: -33px;
    margin-left: 37px;
    border-radius: 60%;
}
.nav{
    width:70vw;
    -webkit-box-shadow:1px 1px #888;
    box-shadow:1px 1px #888;
    position: absolute;
    top:50px;
    z-index:999;
    background-color:#fff;
    left:-70vw ; 
    -webkit-transition: left 0.3s ease-in; 
    -o-transition: left 0.3s ease-in; 
    transition: left 0.3s ease-in;
}
.nav.show{  
left:0;
}

.menu-button i{
position: relative;
margin-top:10px;
z-index: 99;
font-size: 30px;
left: 0;
color:#8f6a45;
cursor: pointer;
}
.menu-items{
padding: 0;
margin: 0;
}
.menu-list{
   list-style: none; 
   background-color: rgb(116, 62, 24);
   color: dodgerblue;
   margin-right: 10px;
   margin-top: 20px;
   font-family: Arial;
   font-size: 13px;
   border: 2px solid rgb(116, 62, 24);
   border-radius: 20px;
   font-weight: bold;
   
   
}
.menu-link{
text-decoration: none;
color: #fff;
display: flex;
padding:10px 16px;
}

.menu-link:hover{
    background-color: #fff;
    color: rgb(116, 62, 24);
    border-radius: 20px;
    
}

@media screen and (min-width: 800px) {   
    
.nav{
    width:50vw;
    -webkit-box-shadow:none;
    box-shadow:none;
    position: absolute;
    left:50vw;
    -webkit-transition: none; 
    -o-transition: none; 
    transition: none;
    margin-left: -40px;
}
.menu-button i{
    display: none;
left: -80px;
}
.imagen{
width: 7%;
height: 70px;
margin-top: 0px;
margin-left: 15px;
border-radius: 60%;
}
.menu-items{
display: flex;
flex-wrap: nowrap;
padding: 0px;
margin: 0px;
margin-top: -50px;

}
.menu-list{
   list-style: none;  
}
.menu-link{  
text-decoration: none;
color:#ffff;
display: flex;
padding:5px 50px;

}
  }

