.container{
    width:auto;
    height:70px;
    background: #58c5f5;
    position: relative;
  
    
}
.imagen{
    width: 17%;
    height: 60px;
    margin-top: -33px;
    margin-left: 80%;
    border-radius: 60%;
    
}
.nav{
    width:70vw;
    -webkit-box-shadow:1px 1px #888;
    box-shadow:1px 1px #888;
    position: absolute;
    top:50px;
    z-index:999;
    background-color:#fff;
    left:-70vw ; 
    -webkit-transition: left 0.3s ease-in; 
    -o-transition: left 0.3s ease-in; 
    transition: left 0.3s ease-in;
    
}
.nav.show{  
left:0;
}

.menu-button i{
position: relative;
margin-top:10px;
z-index: 99;
font-size: 30px;
left: 0;
color:#8f6a45;
cursor: pointer;
}
.menu-items{
padding: 0;
margin: 0;
}
.menu-list{
    list-style: none;
    /* width: 49%; */
    background-color: rgb(116, 62, 24);
    color: dodgerblue;
    margin-right: 31px;
    margin-top: 19px;
    font-family: Arial !important;
    font-size: 20px;
    border: 2px solid rgb(116, 62, 24);
    border-radius: 20px;
    font-weight: bold;
   
   
}
.menu-link{
text-decoration: none;
color: #fff;
display: flex;
padding:10px 16px;
}

.menu-link:hover{
    background-color: #fff;
    color: rgb(116, 62, 24);
    border-radius: 20px; 
}

@media screen and (min-width: 800px) {   
    
.nav{
    width: 54%;
    box-shadow: none;
    position: absolute;
    left: 49vw;
    transition: none;
    margin-left: -111px;
    background-color: #58c5f5;
}

.menu-button i{
    display: none;
left: -80px;
}
.imagen{
width: 7%;
height: 70px;
margin-top: 0px;
margin-left: 35px;
border-radius: 60%;
}
.menu-items{
    display: flex;
    height: 58px;
    width: 121%;
    margin-left: -91px;
    margin-top: -52px;

}
.menu-list{
   list-style: none;  
}
.menu-link{  
text-decoration: none;
color:#ffff;
display: flex;
padding:5px 50px;

}

}

