.container{
    width:auto;
    height:70px;
    background: #4EC2B3;
    position: fixed;
    width: 100%;
    z-index: 20;
  
    
}
.imagen{
    width: 60px;
    height: auto;
    margin-top: 3px;
    margin-left: 3%;
    border-radius: 60%;
    
}
.nav{
    width:100%;
    position: absolute;
    top:50px;
    z-index:999;
    background-color:#4EC2B3;
    -webkit-transition: left 0.3s ease-in; 
    -o-transition: left 0.3s ease-in; 
    transition: left 0.3s ease-in;
    text-align: center;
    left: -100%;
    
}
.nav.show{  
    left:0;
}

.menu-button i{
position: relative;
margin-top:10px;
z-index: 99;
font-size: 30px;
left: 0;
color:#8f6a45;
cursor: pointer;
}
.menu-items{
padding: 0;
margin: 0;
}
.menu-list{
    list-style: none;
    margin-right: 31px;
    margin-top: 19px;
    font-family: 'Amatic SC';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
   
}
.menu-link{
text-decoration: none;
display: flex;
color:#ffff;
padding:10px 16px;
justify-content: center;
}

.menu-link:hover{
    background-color: #fff;
    color: black;
}

.menu-button{
    position: absolute;
    right: 30px;
}
@media screen and (min-width: 1025px) {   
    
    .nav{
        width: 54%;
        box-shadow: none;
        position: absolute;
        left: 45vw;
        transition: none;
        margin-left: -111px;
        background-color:#4EC2B3;
    }

    .menu-button i{
        display: none;
    left: -80px;
    }
    .imagen{
    width: 7%;
    height: 70px;
    margin-top: 0px;
    margin-left: 35px;
    border-radius: 60%;
    }
    .menu-items{
        display: flex;
        height: 58px;
        width: 121%;
        margin-left: -91px;
        margin-top: -52px;

    }
    .menu-list{
    list-style: none;  
    }
    .menu-link{  
    text-decoration: none;
    color:#ffff;
    display: flex;
    padding:5px 50px;

    }

}

