.alert-container{
    position: absolute;
    top: 0;
    background-color: #e29d08f3;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    transition: all 0.3s;
}

.alert-container h3{
    font-family: 'Amatic SC', cursive !important;
}

.alert-container.hidden{
   height: 0px;
   top: -20px;
}