.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.inner {  
  position: absolute;
  left: 20%;
  right: 20%;
  top: 35%;
  bottom: 30%;
  margin: auto;
  border-radius: 20px;
  background: white;
  height: 240px;
}

.btn-Popup{
  background-color: #3ea396;
  padding: 1px;
  color: #fff;
  margin-top: 43px;
  width: 32%;
  cursor: pointer;  
  font-family: 'Amatic SC';
  font-size: 33px;
  display: inline-block;
}
.cancelar{
  margin-right: 20px;
}

.btn-Popup:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.plus-Crepa{
  background-image: url("/imgs/minus.jpg");
}

.quant-container{
  margin-bottom: 15px;
  margin-top: 14px;   
  display: block;
}
.quant-container input{
  display: inline-block;
  width: 35px;
  text-align: center;
  vertical-align: top;
  margin: 0px 10px 0px 10px;
}
.icon-math{
  background-size: cover;
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
} 
.suma{
  background-image: url('/imgs/plus.svg');  
  
}
.resta{            
  background-image: url('/imgs/minus.svg');
  
}
@media only screen and (max-width: 680px){
  .inner {  
    left: 3%;
    right: 8%;
    top: 31%;
    bottom: 38%;
    padding: 6px;
  }
  .quant-container{
    
  }
}