#slideshowContainer .swiper-container {
    width: 100%;
}

.titleSlide{
    text-align: center;    
    padding: 2%;        
    width: 50%;    
}
.container-draw{
    width: 70%;
    margin-right: 30%;
    background-color: #e29d08;
    clip-path: polygon(0 0, 43% 0, 77% 100%, 0 100%);
}
#container-img1{    
    background-image: url("/imgs/Monday1.jpg");    
}
#container-img2{    
    background-image: url("/imgs/tuesday1.jpg");    
}
#container-img3{    
    background-image: url("/imgs/wednesday1.jpg");
}



#titleSlide3{
    text-align: center;
    margin-right:48%;
    padding: 2%;
    padding-top: 15%;
 
}

@media only screen and (max-width:680px){
    .compartido-img{
        width: 100%;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: 150% 0;
    }
    .container-draw{
        height: 30vh;
    }
    .titleSlide{
        padding-top: 30px;
    
    }
}
@media only screen and (min-width:680px){
    .container-draw{
        height: 50vh;
    }

    .compartido-img{
        width: 100%;        
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: right;
    }
}