#crepa h1{
    color: cadetblue;
}
 
.crepa {
    height: 40%;
    border: 4px solid #3ea396;
    padding: 1%;
    display: inline-block;
    width: 25%;
    margin: 15px;
}
@media only screen and (max-width: 680px) {
    .crepa {
        width:85%;
        display: block;
        margin:auto;
        margin-top: 10px;
    
    }
  }

.crepa-imgs{
    width: 100%;
    height: 251px;
    display: block;
    background-position: -2px -67px;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-description{
    width: 92%;
}
.detalles{
    display: flex;
    margin-top: 5px;
    color: white;
}

.detalles h5{
    margin-right: 7px;
}
#crepaDescripcion{
    width: 100%;
    background-color: #e29d08f3;
    text-align: center;
    padding: 13px;
  
}

.crepas-btn{
    background-color: #4EC2B3;
    padding: 1px;
    width: 104%;
    color: #fff;
    cursor: pointer;
    height: 57px;
    font-family: 'Amatic SC';
    font-size: 37px;
    border: none;
}
.crepas-btn:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: all 0.5s;
}

#boxBtn{
    padding: 4%;
    width: 98%;
}
